.venv/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

reports/figures/*.png
!reports/figures/.gitkeep

.env
.DS_Store